<section class="home">
	<article>
		<header>
			<h2 class="section-title">WORK WITH THE EXPERTS.</h2>
			<p>With almost a century of experience in demolition, we know what it takes to lay the groundwork for success.</p>
		</header>
	</article>
</section>