//Source Code Pro
//Weights: 300, 400, 700
$sans-serif: 'source-sans-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

//Bebas Neue
//Weights: 400 NO ITALIC
$heading-font: 'bebas-neue', Impact, sans-serif;

html {
	font-family:$sans-serif;
}
